#newMessageWraper {

}
#newMessageForm {
	margin-left: 10px;
}

#messagesContainer {
	width: 100%;
	height: 90%; !important
	overflow-y: scroll;
}
#newMessageForm button {
	margin-top: 10px;
}

ul {
	padding: 20px;
}

li{

}

li p{
	display: inline;
}

.message a {
	color: red;
}

.message p a {
	color: green;
}

.message p b a {
	color: blue;
}